main {
  display: grid;
  place-items: center;
  text-align: center;
}

.error-container {
  width: 80%;
  display: grid;
  height: 50%;
}

.error-container .status-code {
  font-size: 60px;
  font-weight: 700;
}

.error-container .error-message {
  font-size: 16px;
}

.error-container a {
  color: var(--span-color);
}
