@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

:root {
  --text-color: #000000;
  --background-color: #ffffff;
  --span-color: #d35e35;
  --dark-blue: #3d4251;
  --light-blue: #666f88;
  --pale-blue: #cacbd5;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.navbar .logo a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 900;
}

.navbar .logo a span {
  color: var(--span-color);
}

.navbar .search-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar .search-container input {
  width: 100%;
  padding: 5px 35px;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  font-size: 16px;
}

.navbar .search-container ion-icon {
  position: absolute;
  left: 10px;
}

.navbar .nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-links .link.active {
  border-bottom: 2px solid var(--span-color);
}

.navbar .nav-links .link a {
  font-size: 16px;
  color: var(--text-color);
}

.navbar .nav-links .link:hover a {
  color: var(--span-color);
}

main {
  flex: 1;
}

.recipes-container {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recipes-container .recipe {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1.5px 10px rgba(0, 0, 0, 0.5);
  row-gap: 10px;
}

.recipe .image-wrapper,
.recipe .details-wrapper {
  width: 100%;
}

.recipe .image-wrapper img {
  width: 100%;
  object-fit: cover;
}

.recipe .details-wrapper {
  display: grid;
  height: 50%;
}

.details-wrapper .recipe-name-container {
  width: 75%;
}

.details-wrapper .recipe-name-container .recipe-name {
  font-weight: 900;
  font-size: 22px;
}

.details-wrapper .further-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.further-info-container .ratings-container ion-icon {
  color: var(--span-color);
}

.further-info-container .cuisine-container p {
  color: var(--dark-blue);
}

/* Media Queries */
@media (max-width: 1200px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .recipes-container {
    grid-template-columns: 1fr;
  }
}
