<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Recipe App</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">
        <a href="/"><span>Recipe</span>App</a>
      </div>

      <ul class="nav-links">
        <li class="link">
          <a href="/dessert">Dessert</a>
        </li>
        <li class="link">
          <a href="/snack">Snack</a>
        </li>
        <li class="link">
          <a href="/lunch">Lunch</a>
        </li>
        <li class="link">
          <a href="/dinner">Dinner</a>
        </li>
      </ul>
    </nav>

    <main>
      <!-- Featured Recipe -->
      <div class="featured-recipe">
        <div
          id="featured-recipe-content"
          onclick="window.location.href='/recipe/{{ (index .Recipes 0).ID }}'"
        >
          <div class="featured-image">
            <img
              src="{{ (index .Recipes 0).Image }}"
              alt="{{ (index .Recipes 0).Name }}"
            />
          </div>
          <div class="featured-details">
            <h2 class="recipe-name">{{ (index .Recipes 0).Name }}</h2>
            <div class="featured-meta">
              <div
                class="ratings-container"
                data-rating="{{ (index .Recipes 0).Rating }}"
              >
                {{ renderRatingStars (index .Recipes 0).Rating }}
              </div>
              <div class="cuisine-container">
                <p class="cuisine">{{ (index .Recipes 0).Cuisine }}</p>
              </div>
            </div>
            <p class="description">
              <span
                class="prep-time"
                data-preptime="{{ (index .Recipes 0).PrepTimeMinutes }}"
              >
                Prep Time: {{ (index .Recipes 0).PrepTimeMinutes }} mins
              </span>
              •
              <span
                class="cook-time"
                data-cooktime="{{ (index .Recipes 0).CookTimeMinutes }}"
              >
                Cook Time: {{ (index .Recipes 0).CookTimeMinutes }} mins
              </span>
            </p>
          </div>
        </div>
      </div>

      <!-- Recipes List -->
      <div class="recipes-container">
        {{ range .Recipes }}
        <div class="recipe" onclick="window.location.href='/recipe/{{ .ID }}'">
          <div class="image-wrapper">
            <img src="{{ .Image }}" alt="{{ .Name }}" />
          </div>

          <div class="details-wrapper">
            <div class="recipe-name-container">
              <p class="recipe-name">{{ .Name }}</p>
            </div>

            <div class="further-info-container">
              <div class="ratings-container" data-rating="{{ .Rating }}">
                {{ renderRatingStars .Rating }}
              </div>
              <div class="cuisine-container">
                <p class="cuisine">{{ .Cuisine }}</p>
              </div>
            </div>

            <p style="display: none;" class="description">
              Prep Time:
              <span class="prep-time" data-preptime="{{ .PrepTimeMinutes }}"
                >{{ .PrepTimeMinutes }} mins</span
              >
              • Cook Time:
              <span class="cook-time" data-cooktime="{{ .CookTimeMinutes }}"
                >{{ .CookTimeMinutes }} mins</span
              >
            </p>
          </div>
        </div>
        {{ end }}
      </div>
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
